<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Pipes</title>
    <link rel="stylesheet" href="/node_modules/purecss/build/pure-min.css">
    <link rel="stylesheet" href="/node_modules/purecss/build/grids-responsive-min.css">
    <script src="/node_modules/vex-js/dist/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-wireframe'</script>
    <link rel="stylesheet" href="/node_modules/vex-js/dist/css/vex.css" />
    <link rel="stylesheet" href="/node_modules/vex-js/dist/css/vex-theme-wireframe.css" />
    <script src="<%= url '/mypipes.js' %>"></script>
    <link href="<%= url 'style.css' %>" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <%= erb :nav, :locals => {:current => 'mypipes'} %>
    
    <main id="pipes" class="pure-g">
        <div class="pure-u-1 pure-u-md-1-5"> </div>
        <div class="pure-u-3 pure-u-md-3-5">
            <aside id="home" class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <section>
                        # Pipes: <%= pipes.length %>/1000
                    </section>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <section class="second">
                        <img src="/icons/heart.svg"></img> Likes: <%= likes %>
                    </section>
                </div>
            </aside>
            <form id="dashboard_new" action="/editor#new" method="GET">
                <button  class="pure-button pure-button-primary">Create a new Pipe</button>
            </form>
            <ol>
            <% pipes.each do |pipe| %>
                <li>
                    <dl id="<%= encodeid(pipe['id']) %>">
                        <dt>Title</dt>
                        <dd><span class="title"><%= pipe['title'] %> <img src="/icons/edit.svg" class="feather edit"></img></span> <button class="delete"><img src="/icons/trash.svg" class="feather deleteicon"></img></button></dd>
                        <dt>Preview</dt>
                        <dd><a href="<%= url '/pipe/' + encodeid(pipe['id']) %>"><img class="preview" src="<%= inlineSvg(pipe['preview']) %>"></a></dd>
                        <dt>Tags</dt>
                        <dd>
                            <% pipe['tags']&.split(',')&.each do |tag| %>
                                <span class="tag"><%= tag %><button class="tagremove"><img src="/icons/minus-square.svg" class="feather tagremoveicon"></img></button></span>
                            <% end %>
                            <% if pipe['tags'].nil? %>
                                <span class="tag">No tags</span>
                            <% end %> 
                            <button class="tagadd"><img src="/icons/plus-square.svg" class="feather tagaddicon"></img></button>
                        </dd>
                    </dl>
                </li>
            <% end %>
            </ol>
        </div>
        <div class="pure-u-1 pure-u-md-1-5"> </div>
    </main>

    <script src="/node_modules/@iconfu/svg-inject/dist/svg-inject.min.js"></script>
    <script>SVGInject(document.querySelectorAll('img[src$=".svg"]'));</script>
</body>
</html>