<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Pipes</title>
    <link rel="stylesheet" href="/css/font-awesome-core.css?v=1">
    <link rel="stylesheet" href="/css/font-awesome-solid.css?v=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-wireframe'</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/css/vex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/css/vex-theme-wireframe.css" />
    <script src="<%= url '/mypipes.js' %>"></script>
    <link href="<%= url 'style.css' %>" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <%= erb :nav, :locals => {:current => 'mypipes'} %>
    
    <main id="pipes" class="pure-g">
        <div class="pure-u-1 pure-u-md-1-5"> </div>
        <div class="pure-u-3 pure-u-md-3-5">
            <aside id="home" class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <section>
                        # Pipes: <%= pipes.length %>/1000
                    </section>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <section class="second">
                        <i class="fas fa-heart"></i> Likes: <%= likes %>
                    </section>
                </div>
            </aside>
            <form id="dashboard_new" action="/editor#new" method="GET">
                <button  class="pure-button pure-button-primary">Create a new Pipe</button>
            </form>
            <ol>
            <% pipes.each do |pipe| %>
                <li>
                    <dl id="<%= encodeid(pipe['id']) %>">
                        <dt>Title</dt>
                        <dd><span class="title"><%= h(pipe['title']) %> <i class="edit fas fa-edit"></i></span> <button class="delete"><i class="deleteicon fas fa-trash"></i></button></dd>
                        <dt>Preview</dt>
                        <dd><a href="<%= url '/pipe/' + encodeid(pipe['id']) %>"><svg class="preview"><g transform="scale(0.2)"><%= pipe['preview'] %></g></svg></a></dd>
                        <dt>Tags</dt>
                        <dd>
                            <% pipe['tags']&.split(',')&.each do |tag| %>
                                <span class="tag"><%= h(tag) %><button class="tagremove"><i class="tagremoveicon fas fa-minus-square"></i></button></span>
                            <% end %>
                            <% if pipe['tags'].nil? %>
                                <span class="tag">No tags</span>
                            <% end %> 
                            <button class="tagadd"><i class="tagaddicon fas fa-plus-square"></i></button>
                        </dd>
                    </dl>
                </li>
            <% end %>
            </ol>
        </div>
        <div class="pure-u-1 pure-u-md-1-5"> </div>
    </main>
</body>
</html>