<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Public Pipes</title>

    <link rel="stylesheet" href="/node_modules/purecss/build/pure-min.css">
    <link rel="stylesheet" href="/node_modules/purecss/build/grids-responsive-min.css">
    <script src="/node_modules/vex-js/dist/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-wireframe'</script>
    <link rel="stylesheet" href="/node_modules/vex-js/dist/css/vex.css" />
    <link rel="stylesheet" href="/node_modules/vex-js/dist/css/vex-theme-wireframe.css" />
    <script src="<%= url '/publicpipes.js' %>"></script>
    <link href="<%= url 'style.css' %>" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <%= erb :nav, :locals => {:current => 'publicpipes'} %>
    
    <main id="pipes" class="public pure-g">
        <div class="pure-u-1 pure-u-md-1-5"> </div>
        <div class="pure-u-3 pure-u-md-3-5">
            <form id="tagsearch" method="GET" action="<%= url '/pipes' %>" >
                <input type="text" list="tags" name="tag" placeholder="tag" value="<%= tag %>" />
                <button type="submit" class="pure-button"><img src="/icons/search.svg"></img> Go</button>
            </form>
            <aside class="pagination">
                <% if pipes.length > 11 %>
                    <% maxPage = ((pipes.length - 1)/ 12).ceil %>
                    <% for i in 0..maxPage %>
                        <% if ((0..2).include?(i) || ((maxPage.to_i-2)..maxPage.to_i).include?(i)) || ((page.to_i-1)..(page.to_i+1)).include?(i) %>
                            <% paginating = true %>
                            <a href="<%= url '/pipes?page=' + i.to_s %><%= '&tag=' + tag unless tag.nil? %>" <%= 'class="current"' if page.to_s == i.to_s %>><%= i %></a>
                        <% else %>
                            <%= '…' if paginating %>
                            <% paginating = false %>
                        <% end %>
                    <% end %>
                <% end %>
            </aside>
            <% if pipes.length > 0 %>
                <ol>
                <% pipes[(page.to_i * 12)...((page.to_i + 1) * 12)].each do |pipe| %>
                    <li>
                        <dl id="<%= encodeid(pipe['id']) %>" <%= 'class="own_pipe"' if pipe['user'].to_s == userEmailToId(authorized_email).to_s %> >
                            <dt>Title</dt>
                            <dd><span class="likes"><img src="/icons/heart.svg" class="feather likesymbol <%= likedpipes&.find{|x| x['pipe'] == pipe['id'] } ? 'liked filled' : '' %>"></img><%= pipe['likes'] %></span> <span class="title"><%= pipe['title'] %></span></dd>
                            <dt>Preview</dt>
                            <dd><a href="<%= url '/pipe/' + encodeid(pipe['id']) %>"><img class="preview" src="<%= inlineSvg(pipe['preview']) %>"></a></dd>
                            <dt>Description</dt>
                            <dd class="description"><%= pipe['description'].length > 140 ? (pipe['description'][0..140] + '...') : pipe['description'] %></dd>
                            <dt>Tags</dt>
                            <dd class="tags">
                                <% pipe['tags']&.split(',')&.each do |tag| %>
                                    <a href="<%= url '/pipes?tag=' + tag %>"><span class="tag"><%= tag %></span></a>
                                <% end %>
                            </dd>
                        </dl>
                    </li>
                <% end %>
                </ol>
            <% else %>
                No public pipes found
            <% end %>
            <aside class="pagination">
                <% if pipes.length > 11 %>
                    <% maxPage = ((pipes.length - 1)/ 12).ceil %>
                    <% for i in 0..maxPage %>
                        <% if ((0..2).include?(i) || ((maxPage.to_i-2)..maxPage.to_i).include?(i)) || ((page.to_i-1)..(page.to_i+1)).include?(i) %>
                            <% paginating = true %>
                            <a href="<%= url '/pipes?page=' + i.to_s %><%= '&tag=' + tag unless tag.nil? %>" <%= 'class="current"' if page.to_s == i.to_s %>><%= i %></a>
                        <% else %>
                            <%= '…' if paginating %>
                            <% paginating = false %>
                        <% end %>
                    <% end %>
                <% end %>
            </aside>
        </div>
        <div class="pure-u-1 pure-u-md-1-5"> </div>
    </main>
    <script src="/node_modules/@iconfu/svg-inject/dist/svg-inject.min.js"></script>
    <script>SVGInject(document.querySelectorAll('img[src$=".svg"]'));</script>
</body>
</html>
